[Unit]
Description=Blockchain Wallet Monitoring App
After=network.target

[Service]
User=eammon
Group=eammon
WorkingDirectory=/home/eammon/BockChainWallet/
Environment="PATH=/home/eammon/BockChainWallet/env/bin"
ExecStart=/home/eammon/BockChainWallet/env/bin/gunicorn -w 3 run:app --bind 0.0.0.0:5000


[Install]
WantedBy=multi-user.target